<div class="max-w-md mx-auto mt-10">
  <div class="card bg-base-100 shadow-lg">
    <div class="card-body">

      <!-- Error -->
      @if (error()) {
        <div class="alert alert-error mb-3">
          {{ error() }}
        </div>
      }

      <!-- Éxito -->
      @if (success()) {
        <div class="alert alert-success mb-3">
          Transferencia realizada con éxito
        </div>
      }

      <!-- Cuenta destino -->
      <label class="label">
        <span class="label-text">Cuenta destino</span>
      </label>
      <input
        class="input input-bordered w-full mb-4"
        placeholder="Ej. cuenta1@bot.com"
        (input)="toEmail.set($any($event.target).value)"
      />

      <!-- Monto -->
      <label class="label">
        <span class="label-text">Monto</span>
      </label>
      <input
        type="number"
        class="input input-bordered w-full mb-6"
        placeholder="Ej. 500"
        (input)="amount.set($any($event.target).valueAsNumber)"
      />

      <!-- Botón -->
      <button
        class="btn btn-primary w-full"
        [disabled]="loading()"
        (click)="submit()"
      >
        @if (loading()) {
          <span class="loading loading-spinner"></span>
        } @else {
          Transferir
        }
      </button>

    </div>
  </div>
</div>

